@carvana:registry=https://repo.carvana.com/repository/carvana-npm-all/
//repo.carvana.com/repository/carvana-npm-all/:_authToken=6c5efcb5-5ca4-3dd3-bf77-7e6869e9d790

save-exact = true
loglevel=silent
